<!DOCTYPE html>
<html>
  <head>
    <title>Welcome | home</title>
  </head>
  <body>
  <h1> Welcome to the home page</h1>
    <p><a href="/signup"/>signup page</p>
    <p><a href="/login"/>login page</p>
  </body>
</html>
