<!DOCTYPE html>
<html>
  <head>
    <title>Welcome | login</title>
    <script defer src="/js/login.js"></script>
    <style>
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 400px;
    }
    </style>
  </head>
  <body>
	<h1>Login page</h1>
    <form>
      <label for="email">Email:</label>
      <input id="email" type="email" name='email'/>
      <label for="password">Password:</label>
      <input id="password" type="password" name='password'/> 
      <button type="submit">signup</button>
    <form>
    <p><a href="/signup" />signup page</p>
  </body>
</html>
